body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:50px;
}
.name-highlight{
    color: blueviolet;
}
h3{
    font-size: 40px;

}
.half-width{
    width:40%;
    float: left;
    margin-left:5%;
    padding-left:2%;
    margin-top: 50px;

}
.half-width img{
    width:100%;
}
#middle{
    margin-top: 100px;
}
.top-banner{
    background-image: url(images/personal-website/header-bg.png);
    background-repeat: no-repeat;

}
.dreem-banner{
    background-image:url(images/personal-website/biography-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
}

section{
    height:500px;
    padding:150px;

}
#bio-graphy{
    margin-top:100px;
}
.letest-work{
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
}
.work-banner{
    background-image:url(images/personal-website/latest-work-bg.png);
    background-position: 100%;
    margin:0 auto;
}
.image{
    float:left;
    width:28%;
    padding:2%;

}
.image #pic{

    width:100%;
    height:260px;


}
.footer-text{
    text-align:center;
}

#cliend{
    font-size: 40px;
    font-family:'Poppins';
    font-weight:400px;
    margin-bottom:100px;
}
.ceo{
    margin-top: 20px;
    line-height:10px;
}
.ceo p{
    color:gray;

}
.text{
    margin-top:50px;
}
.big-button{
    text-align:center;
    background-color: red;
    width:500px;
    margin:0 auto;
    padding:15px;
    border-radius: 30px;


}